<html lang="en">

<head>
  <meta charset="ISO-8859-1">
  <title>Proyecto ISI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/views/css/style.css">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="font-weight: bold;"><i class="bi bi-code-slash" style="font-size: 35px; bottom"></i> ProyectoISI</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav_item2" target="_blank" href="https://github.com/hectorfr95/ProyectoISI" style="font-weight: bold;"><i class="bi bi-github" style="vertical-align: 2px;"> </i>GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav_item3" target="_blank" href="https://github.com/hectorfr95/ProyectoISI/wiki" style="font-weight: bold;"> <i class="bi bi-book"> Wiki</i></a>
      </li>
    </ul>
  </nav>
  <br><br><br><br>
  <div class="container" style="width: 30%" id="titulo">
    <div class="row justify-content-center">
<a style="width: 50%;" href="${link}" class="btn btn-primary" role="button" aria-pressed="true"><strong>Descargar informe  <i class="fa fa-download" aria-hidden="true"></i></strong></a>
</div>
<br>
<div class="row justify-content-center">
<pre syle="justify-content: center">
${content}
</pre>
</div>
</div>
  </body>
</html>
